.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}



.numbers {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
}

.calculator-ui {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.calculator-buttons {
    display: flex;
    gap: 20px;
}

.operators {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) 2fr;
    gap: 10px;
}

#display {
    width: 100%;
    height: 75px;
    border: 1px solid black;
}

button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}